* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

.navv{
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
  background-color:#00c8f8;
  
}

.carousel-inner img{
  /* max-height: 70vh; */
  object-fit: cover;
  width:150%; 
  height:550px;
  position:relative;
}



.footer-index{
  background-color: #00c8f8;
  color: white;
  margin-top: 3vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#imagen_empleo{
  width: 100%;
  object-fit: cover;
}
.shadow-drop-2-tr {
  -webkit-animation: shadow-drop-2-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: shadow-drop-2-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#card-footer button{
  background-color:  #00C8F8;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
